body {
    background: #ffeacf;
    font-family: 'Verdana', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

#gameContainer {
    display: inline-block;
    background: #faf7d8;
    border: 5px solid #eead60;
    border-radius: 16px;
    padding: 12px;
    margin-top: 12px;
}

canvas {
    image-rendering: pixelated;
    background: #ffd68f;
    border: 3px solid #e3ae7a;
    margin-bottom: 10px;
}

#controls {
    font-size: 18px;
    color: #af6b27;
    margin-bottom: 4px;
}

#score {
    font-size: 20px;
    font-weight: bold;
    color: #a86741;
}

#restartBtn {
    margin-top: 8px;
    font-size: 18px;
    padding: 4px 12px;
    background: #ffefad;
    border: 2px solid #edc971;
    border-radius: 8px;
    color: #623e19;
    cursor: pointer;
}

#restartBtn:hover {
    background: #ffe7ab;
}
